{% extends "base.html" %}
<!-- Title -->
{% block title %}Search Recipes{% endblock %}

<!-- Content -->
{% block content %}
<link rel="stylesheet" href="/static/search.css">
    <h2>Search Recipes</h2>
    <form action="{{ url_for('views.search') }}" method="GET">
        <label for="search_query">Search by Recipe Name or Tags</label>
        <input type="text" id="search_query" name="query" required>
        <button type="submit">Search</button>
    </form>
    
<!-- Display search results here -->
{% if recipes %}
    <h3>Search Results:</h3>
    <div class="recipe-grid">
        {% for recipe in recipes %}
            <div class="recipe-item">
                <a href="{{ url_for('views.view_recipe', recipe_id=recipe.ID) }}">
                    <img class="recipe-photo" src="data:image/jpeg;base64,{{ recipe.Photo }}" alt="Recipe Photo">
                </a>
                <p class="recipe-name">
                    <a href="{{ url_for('views.view_recipe', recipe_id=recipe.ID) }}">{{ recipe.RecipeName }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No recipes found.</p>
{% endif %}
{% endblock %}

